* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 10px;
}

%no-padding-margin {
  padding: 0;
  margin: 0;
}

/* Bootstrap container with no margin and no padding */
.container {
  @extend %no-padding-margin;
  width: 100%;

  .row {
    @extend %no-padding-margin;
    width: 100%;
  }
}

div#html-container {
  @extend %no-padding-margin;
}

div#html-input-container {
  @extend %no-padding-margin;
  padding-right: 5px;

  textarea#html-input {
    @extend %no-padding-margin;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    resize: none;
  }

  div.button#submit-button {
    position: absolute;
    width: 75px;
    right: 10px;
    top: 5px;
    vertical-align: center;
    opacity: .75;
  }

  div.button#submit-button:hover {
    position: absolute;
    width: 75px;
    right: 10px;
    top: 5px;
    vertical-align: center;
    opacity: .90;
  }
}

div#frame-container {
  @extend %no-padding-margin;
  padding-left: 5px;

  iframe#result-page-frame {
    width: 100%;
    border: 1px solid #000;
  }
}
